/* Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: white;
  color: rgb(50, 50, 50);
  font-family: "Poppins", serif;
  min-height: 100vh;
}

h1 {

  font-size: 2rem;
  justify-content: center;
  display: flex;
}

h2 {

  font-size: 2rem;
  justify-content: center;
  display: flex;
}

h3{
  font-size: 80%;
  font-weight: bold;
  color: black;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto; /* Center the table horizontally */
  max-width: 800px;
}
th, td {
  font-weight: bold;
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}
th {
  color: white;
  background-color: maroon;
}
button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.highlighted {
  background-color: yellow; /* Change to whatever highlight color you prefer */
}

/* Hover effect */
.submit-button:hover {
  background-color: rgb(107, 40, 40);
}

.submit-button1:hover {
  background-color: rgb(107, 40, 40);
}

.booking-button:hover{
  background-color: rgb(107, 40, 40);
}
.booking-button {
  font-weight: black;
  background-color: maroon; 
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 40px;
  margin: 2px 2px;
  cursor: pointer;
  border-radius: 2px;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 20vh;
}

.container-submit {
  display: flex;
  justify-content: center; /* Center horizontally */
  margin-top: 20px; /* Adjust margin as needed */
}

.button-container {
  text-align: center;
}

.header-container {
  display: flex;
  justify-content: left;
  margin-bottom: 20px;
  margin: 20px auto;
  max-width: 800px; 
  padding: 10px;
}

.header {
  font-size: larger;
  font-weight: bold;
  flex: 1;
  margin-right: 5px; /* Adjusted margin */
}

.dropdown-container {
  display: flex;
  flex: 1;
  justify-content: space-between;
  margin-right: 5px; /* Adjusted margin */
}

.dropdown {
  flex: 1;
  margin-right: 5px; /* Adjusted margin */
}

.submit-button {
  font-weight: bold;
  padding: 8px 16px;
  background-color: maroon;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button1 {
  font-weight: bold;
  padding: 8px 16px;
  background-color: maroon;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@keyframes flash {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.flash-animation {
  animation: flash 0.5s infinite; /* Adjust animation duration as needed */
}

.date {
  font-size: 2rem;
  justify-content: center;
  display: flex;
  margin-bottom: 20px;
}